p {
  font-family: Impact, sans-serif;
  font-size: 20vh;
  color: transparent;
  background: radial-gradient(ellipse at center, #605d01, #686c00);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  transform: scaleY(1.25);
  -webkit-box-shadow: -3px 3px 22px 3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -3px 3px 22px 3px rgba(0, 0, 0, 0.75);
  box-shadow: -3px 3px 22px 3px rgba(0, 0, 0, 0.75);
}

p::before {
  position: absolute;
  content: attr(data-content);
  z-index: -1;
  text-shadow: 0.094em 0.063em #cdcdcd;
}
